*{
    margin: 0 0 0 0;
}
body{
    background-color: #bc5d4b;
    overflow: hidden;
}

.splash{
    background: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 90vh;
}
@keyframes fadeIn{
    to{
        opacity: 1;
    }
    
}
.fade-in{
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    
}
.splash.hidden{
    display: none;
    transition: 0.5s;
    background: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 90vh;
}


.can_block{
    text-align: center;
    padding-top: 100px; 

}
.can_block.display-can{
    display: none;
}

.btn{
    background-color:rgba(3, 0, 0, 0.6);
    border-radius: 30px;
    border: 5px solid brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 10px 10px 10px;
    width: 100px;
    margin-top: 50px;
    margin-left: 625px;
    font-size: larger;
    font-style: italic;
    color: white;
    
}
.btn.display-btn{
    display: none;
    
}
.can-h:hover{
    transition: 0.9s;
    background-color:coral;
}
.btn:hover{
    background-color: coral;
    transition: 0.9s;
}
.can-h{
    border:3px solid black;
    border-radius: 100px;
}
.canvas{
    display: none;
}
.canvas.display-canvas{
    padding-top: 122px;
    display: block;

}

.movebtn{
    display: none;
}
.movebtn.display-btn2{
    
    display: block;
    background-color:rgba(3, 0, 0, 0.6);
    border-radius: 30px;
    border: 5px solid brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 10px 10px 10px;
    width: 100px;
    margin-top: 5px;
    margin-left: 560px;
    font-size: larger;
    font-style: italic;
    color: white;
    
}
.movebtn2{
    display: none;
}
.movebtn2.display-btn3{
    display: block;
    background-color:rgba(3, 0, 0, 0.6);
    border-radius: 30px;
    border: 5px solid brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 10px 10px 10px;
    width: 100px;
    margin-top: 5px;
    margin-left: 60px;
    font-size: larger;
    font-style: italic;
    color: white;
    
}
.back-img{
    display: block;
    background-image: url("background2.jpg");
    background: fixed;
    width: 100%;
    height: 90vh;
    background:no-repeat;
}
.movebtn3{
    display: inline-flex;
}

